<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Predicción de Emisiones de CO₂</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Predicción de Emisiones de CO₂</h1>4
        <form action="/predecir" method="POST">
            <label for="anio">Año:</label>
            <input type="number" id="anio" name="anio" required>

            <label for="categoria">Categoría IPCC 2006:</label>
            <select id="categoria" name="categoria" required>
                <option value="1. Energía">1. Energía</option>
                <option value="2. Procesos Industriales">2. Procesos Industriales</option>
                <option value="3. Agricultura">3. Agricultura</option>
                <option value="4. Desechos">4. Desechos</option>
            </select>

            <button type="submit">Predecir</button>
        </form>

        {% if resultado %}
            <div class="resultado">{{ resultado }}</div>
        {% endif %}
    </div>
</body>
</html>
