<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingeniería del Modelo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/negocio.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-br from-sky-100 to-green-100 font-sans text-gray-800">

    <nav class="bg-teal-800 text-black p-4">
        <div class="container mx-auto flex justify-between">
            <span class="font-semibold text-xl">CO₂ Inteligente</span>
            <div class="space-x-4 text-sm">
                <a href="/" class="hover:text-teal-200">Inicio</a>
                <a href="/ingenieria-datos" class="hover:text-teal-200">Ingeniería de Datos</a>
                <a href="/modelo" class="hover:text-teal-200">Modelo</a>
                <a href="/RegresionLineal" class="hover:text-teal-200">Prueba Modelo</a>
            </div>
        </div>
    </nav>

    <main class="max-w-4xl mx-auto bg-white shadow-xl rounded-lg p-10 mt-10">
        <h1 class="text-2xl font-bold text-teal-700 mb-6">3. Ingeniería del Modelo</h1>
        <ul class="list-disc list-inside space-y-2">
            <li><strong>Algoritmo:</strong> Se utiliza el modelo de regresión lineal en este proyecto de CO2 en Colombia porque 
                permite identificar y cuantificar las relaciones entre las emisiones y diversos factores en cada sector, facilitando la predicción de escenarios futuros y el análisis de tendencias históricas.</li>
            <li><strong>Entrenamiento:</strong> Para entrenar el modelo de Machine Learning capaz de pronosticar las emisiones de dióxido de carbono en Colombia hasta el año 2014, lo primero que se hace es reunir toda la información histórica de las emisiones de CO2 generadas por los diferentes sectores, utilizando el dataset del IPCC como base. Paralelamente, se recopilan los datos históricos de los posibles impulsores de estas emisiones en cada sector hasta 2014. Una vez que se cuenta con estos datos, el siguiente 
                paso crucial es preparar y estructurar esta información de manera que pueda ser utilizada como base para el modelado predictivo.</li>
        </ul>
    </main>

    <footer class="bg-teal-800 text-white text-center py-4 mt-12 text-sm">
        © 2025 CO₂ Predict. Proyecto Danna Gonzalez-Nicolas Suarez.
    </footer>
</body>
</html>
