<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaulación Modelo Regresión Lineal</title>

</head>
<body> 
        <nav class="bg-teal-800 text-black p-4">
        <div class="container mx-auto flex justify-between">
            <span class="font-semibold text-xl">CO₂ Inteligente</span>
            <div class="space-x-4 text-sm">
                <a href="/" class="hover:text-teal-200">Inicio</a>
                <a href="/ingenieria-datos" class="hover:text-teal-200">Ingeniería de Datos</a>
                <a href="/modelo" class="hover:text-teal-200">Modelo</a>
                <a href="/RegresionLineal" class="hover:text-teal-200">Prueba Modelo</a>
            </div>
        </div>
    </nav>
    <header>
        <h1>Regresión Lineal: Predicción de Helados Vendidos</h1>
        <p>Objetivo: Predecir la cantidad de helados vendidos en función de la temperatura.</p>
        <p>Dataset: El archivo <strong>TemperaturayHelados.csv</strong> contiene datos de temperaturas y unidades vendidas.</p>
    </header>
    
    <section>

        <img src="data:image/png;base64,{{ plot_url }}" alt="Gráfica de regresión">
    </section>
    
    <section>
        <form method="post">
            <label for="temperatura">Temperatura (°C):</label>
            <input type="number" name="temperatura" step="0.1" required>
            <button type="submit">Predecir</button>
        </form>
    </section>
    
    {% if result is not none %}
    <section>
        <h2>Helados vendidos estimados: {{ result }}</h2>
    </section>
    {% endif %}
</body>
</html>
